@import "../css/base.scss";
 
$viewW:750px;
 $bgColor:#45c75d;
.symbin-baseinfo-main-ui{
	background: $bgColor;


	.symbin-baseinfo-wrap{
		overflow: hidden;
		width: $viewW;
		@include pos(r);
		&>div{
			background: $bgColor;
			padding-bottom: 30px;
		}
	}

	.symbin-main-title{
		@include pos(r);
		z-index: 2;
		width: 700px;
		@include displayBox(horizontal);
		margin: 20px auto 0;
		&>div{
			margin: 0 10px;
			@include pos(r);
		}
		color:#fff;

		.symbin-id{
			@include pos(a);
			right: 0;
			font-weight: bold;
			font-size: 44px;
			width: 230px;
			margin-top: -4px;
			//text-align: center;
		}
		.symbin-baseinfo-date{
			font-size: 26px;
			@include pos(a);
		}
		.symbin-birthday,.symbin-dieday{

		}
	}
	.symbin-grass{
		@include pos(a);
		top: 100px;
		z-index: 1;
	}

	.symbin-baseinfo-main{

		min-height: 700px;
		@include pos(r);
		top: -20px;
		z-index: 2;

		color:#604b19;
		width: 700px;

		border:1px solid transparent;

		margin: 0 auto;

		&:before{
			content:'';
			@include pos(a);
			width: 100%;
			height: 90%;
			bottom: 0;
			background: #fcfbe4;
			z-index: -1;
			@include br(10px);

		}

		.symbin-baseinfo-tag{
			@include pos(a);
			width: 100px;
			left: -10px;
			top: 60px;
			span{
				@include pos(a);
				top: 0;
				color:#fff;
				width: 100%;
				height: 100%;
				text-align: center;
				top: 5px;
			}
		}



		.symbin-allstep{
			width: 620px;
			padding-top: 120px;
			margin: 0 auto;

			h1{
				text-indent: 2em;
				font-size: 30px;
				font-weight: normal;
			}

			&>div{
				font-weight: bold;
				text-align: center;
				@include pos(r);
				top: 20px;
				height: 80px;
				line-height: 80px;
				color:#f6c309;
				font-size: 60px;
				@include br(40px);
				&:before{
					content:'';
					@include pos(a);
					@include br(40px);
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: -1;
					background:-webkit-linear-gradient(top, #fbf9ca,#fef39d);
					box-shadow: 0 -2px 10px rgba(0,0,0,.2);
				}
			}


		}


		.symbin-c-info{

			width: 620px;
			margin: 40px auto 0;

			text-align: center;

			@include displayBox(horizontal);
			&>div{
				-webkit-box-flex:1;
				font-size: 24px;
				font-weight: bold;
				span{
					font-size: 36px;
				}
				&:nth-of-type(2){
					@include pos(r);
					&:before,&:after{
						content:'';
						@include pos(a);
						left: 0;
						top: 0;
						width: 1px;
						height: 100%;
						@include  fly-v-gradient-line();
					}
					&:after{
						right: 0;
						left: auto;
					}
				}
				&>div:nth-of-type(2){
					font-weight: normal;
					color:#c7c6ba;
					margin-top: 20px;
				}
			}
		}
	}


	.symbin-baseinfo-chart{
		height: 740px;
		width:620px;
		margin: 30px auto;
		@include pos(r);
		&:before{
			content:'';
			@include pos(a);
			width: 100%;
			height:80px;
			background:-webkit-linear-gradient(top, rgba(67,198,91,.22),#fcfbe4);
		}

		.symbin-chart-tags{
			@include pos(a);
			top: 60px;
			&>div{
				width: 150px;
				text-align: right;
				@include pos(r);
				color:#ccc;
				&:before{
					content: "";
					width: 50px;
					top: 15px;
					border:2px dashed #3eb1f3;
					@include pos(a);
					left: 0;

				}

				&:nth-of-type(2){
					&:before{
						border:2px solid #f6c109;
					}					
				}
				&:nth-of-type(3){
					&:before{
						height: 10px;
						background: $bgColor;
						border:2px solid $bgColor;
					}
				}
			}
		}

		.symbin-baseinfo-date{
			width: 100%;
			padding-top: 120px;
			text-align: center;
		}

		.symbin-baseinfo-step{
			width: 300px;
			height: 80px;
			line-height: 80px;
			text-align: center;
			color:#f6c309;
			font-size: 50px;
			@include br(40px);
			margin: 20px auto;
			@include pos(r);
			&:before{
				content:'';
				@include pos(a);
				@include br(40px);
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background:-webkit-linear-gradient(top, #fbf9ca,#fef39d);
				box-shadow: 0 -2px 10px rgba(0,0,0,.2);
			}
			span{
				font-size: 30px;
				color:#ddd;
				@include pos(a);
				right: 10px;
			}
			label{
				color:#604b19;
				@include pos(a);
				left: 100%;
				font-size: 28px;
				width: 200px;
				&:before{
					content:'约';
					@include pos(a);
					left: 10px;

					color:#ddd;
				}
				em{
					margin-left: 20px;
					font-style: normal;
					font-family: Georgia;
					font-size: 36px;
				}
			}

		}

		.symbin-chart{
			
			margin-top: 20px;
			box-sizing:border-box;
			@include pos(r);
			width: 620px;
			height: 400px;
			
			overflow: hidden;

			&>.symbin-line{
				z-index: 0;
				@include pos(a);
				width: 80px;
				text-align: center;
				left: 50%;
				margin-left: -30px;
				img{
					width: 40px;
				}
			}
		}

		canvas{
			@include pos(a);
			z-index: 1;
			bottom: 0;
			//box-shadow: 0 0 10px #000;
			
		}
	}


	.symbin-temp-humidity{
		@include displayBox(horizontal);
		-webkit-box-align:end;
		&>div{
			margin: 0 30px;
			&:nth-of-type(1){
				color:#f6c109
			}
			&:nth-of-type(2){
				color:#2baaf0;
			}
			&>span{
				&:nth-of-type(1){color:#999;}
				&:nth-of-type(2){
					font-weight: bold;
				}
			}
		}
		img{
			width: 30px;
			vertical-align: bottom;
		}
	}
}